<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>Greeting App</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <script th:src="@{/assets/js/bower_components/webcomponentsjs/webcomponents-loader.js}"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="import" th:href="@{/assets/js/bower_components/vaadin-material-theme/vaadin-date-picker.html}">
    <link rel="import" th:href="@{/assets/js/bower_components/vaadin-date-picker/vaadin-date-picker.html}">

    <link rel="stylesheet"
          href="/assets/js/node_modules/material-components-web/dist/material-components-web.css"
          th:href="@{/assets/js/node_modules/material-components-web/dist/material-components-web.css}"/>
    <script th:src="@{/assets/js/node_modules/material-components-web/dist/material-components-web.js}"></script>

<!--
    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
    </style>
-->
</head>
<body class="mdc-typography">
<header class="mdc-toolbar mdc-toolbar--fixed demo-toolbar">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons mdc-toolbar__menu-icon">menu</a>
            <span class="mdc-toolbar__title">Title</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Download" alt="Download">file_download</a>
            <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
            <a href="#" class="material-icons mdc-toolbar__icon toggle" aria-label="More" alt="More">more_vert</a>
            <div class="mdc-menu-anchor">
                <div class="mdc-simple-menu" tabindex="-1" id="demo-menu">
                    <ul class="mdc-simple-menu__items mdc-list" role="menu" aria-hidden="true"
                        style="transform: scale(1, 1);">
                        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.069s;">Back
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.124s;">
                            Forward
                        </li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.179s;">
                            Reload
                        </li>
                        <li class="mdc-list-divider" role="separator"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0" style="transition-delay: 0.236s;">Save
                            As...
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</header>
<main>
    <div class="mdc-toolbar-fixed-adjust">
        <h1 class="mdc-typography--display1">Hello, World!</h1>
        <button type="button" class="mdc-button mdc-button--raised">
            Press Me
        </button>
        <div>
            <vaadin-date-picker label="Pick a date"></vaadin-date-picker>
        </div>

        <p>Get your greeting <a href="/greeting">here</a></p>
    </div>
</main>
<script th:src="@{/assets/js/app.js}"></script>
</body>
</html>
